/* CSS Selectors MasterClass */

/* div{
    background-color: red;
} */

/* Class Selector */
.red{
    background-color: red;
}

/* ID Selector */
#green{
    background-color: green;
}

/* body{
    background-color: rgb(140, 229, 158);
} */


/* Child Selector */
div > .red {  p {
    color: blue;
    background-color: rgb(198, 171, 16);
}}

/* desendent Selector */

div  p {
    color: rgb(1, 0, 3);
    background-color: rgb(124, 236, 26);
}


/* Uviversal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Pseudo Selector  */

a:visited{
    color: rgb(11, 0, 172);
}
a:link{
    color: chartreuse;
}
a:active{
    background-color: red;
}
a:hover{
    background-color: maroon;
}